<div class="principal">
  <h1>Edicion Cliente</h1>

  <mat-card>


    <form action="" #form="ngForm" (ngSubmit)="updateCliente()">
      <section class="botones">
        <div class="example-button-row">

          <button mat-fab color="accent" data-toggle="modal" data-target="#myModal">
            <mat-icon>edit</mat-icon>
          </button>
          &nbsp;
          <button mat-fab color="warn" type="button" (click)="deleteCliente()">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </section>
      <div class="divSecundary">
        <mat-card-content>
          <mat-form-field appearance="fill">
            <mat-label>Codigo Cliente</mat-label>
            <input matInput id="id_Cliente" name="id_Cliente" [(ngModel)]="ClienteDetalle.id_Cliente" readonly>
          </mat-form-field>
          &nbsp; &nbsp;
          <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput id="nombre" name="nombre" [(ngModel)]="ClienteDetalle.nombre">
          </mat-form-field>
          &nbsp; &nbsp;
          <mat-form-field appearance="fill">
            <mat-label>Cedula</mat-label>
            <input matInput id="cedula" name="cedula" [(ngModel)]="ClienteDetalle.cedula">
          </mat-form-field>
          &nbsp; &nbsp;
          <mat-form-field appearance="fill">
            <mat-label>No. Tarjeta</mat-label>
            <input matInput id="no_Tarjeta_CR" name="no_Tarjeta_CR" [(ngModel)]="ClienteDetalle.no_Tarjeta_CR">
          </mat-form-field>
          &nbsp; &nbsp;
          <mat-form-field appearance="fill">
            <mat-label>Limite Credito</mat-label>
            <input matInput id="limite_Credito" name="limite_Credito" [(ngModel)]="ClienteDetalle.limite_Credito">
          </mat-form-field>
          &nbsp; &nbsp;
          <mat-form-field appearance="fill">
            <mat-label>Tipo Persona</mat-label>
            <mat-select name="tipo_Persona" [(ngModel)]="ClienteDetalle.tipo_Persona">
              <mat-option value="Fisica">Fisica</mat-option>
              <mat-option value="Juridica">Juridica</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
      </div>

      <mat-list>
        <mat-divider></mat-divider>
      </mat-list>

      <div class="divQuinto">
        <mat-checkbox class="example-margin" id="estado" name="estado" [(ngModel)]="ClienteDetalle.estado">Estado</mat-checkbox>
      </div>
    </form>
  </mat-card>



</div>